
.white {
	color: #fff;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 400;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 10px;
}

h5 {
    margin-top: 0px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 20px;
}

.content-container {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
}

.content-container.white-bg {
    background-color: #fff;
}

.box-one-third {
    position: relative;
    display: inline-block;
    width: 33.333%;
    padding-bottom: 33.333%;
    float: left;
    background-color: #fff;
}

.box-one-third.grey {
    background-color: #c2c2c2;
}

.box-one-third.black {
    background-color: #000;
}

.box-one-third.blue {
    background-color: #0089e6;
}

.box-one-third.dayejack {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27d20ef0fe0a0_chillhopsummer.jpg");
    background-position: 50% 100%;
    background-size: cover;
}

.box-one-third.skateboard {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27dbd0e0fe0b0_Skateboard.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.box-one-third.inbetween {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27d2b4f0fe093_inbetween.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.box-one-third._1stlight {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27d2a2d0fe094_light.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.box-one-third.artprint {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27d5b6a0fe0ac_flares.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.box-one-third.accent {
    background-color: #e74c3c;
}

.box-one-third.oz {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27da8040fe0dc_Lantern-BarnImages.com-1.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27da8040fe0dc_Lantern-BarnImages.com-1.jpg");
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
}

.box-one-third.vlap {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27d41da0fe0d6_grap.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.box-one-third.scorz {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25))), url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27db8880fe0dd_2015-09-21-abigailkeenan-001.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27db8880fe0dd_2015-09-21-abigailkeenan-001.jpg");
    background-position: 0px 0px, 0px 100%;
    background-size: auto, cover;
}

.box-one-third.bodyglow {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27d7df50fe0c5_bodynew.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.box-two-thirds {
    position: relative;
    display: inline-block;
    width: 66.666%;
    padding-bottom: 33.333%;
    float: left;
    background-color: #979797;
}

.box-two-thirds.vinyl {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27d5be70fe0b3_ls12.jpg");
    background-position: 50% 34%;
    background-size: cover;
}

.box-two-thirds.roam {
    background-image: url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27ddb440fe0a4_roam3.jpg");
    background-position: 50% 50%;
    background-size: cover;
}

.box-two-thirds.ls3 {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27da7450fe0d5_Digipak1.jpg");
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://uploads-ssl.webflow.com/608d18286ac27d315a0fe070/608d18286ac27da7450fe0d5_Digipak1.jpg");
    background-position: 0px 0px, 50% 50%;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

.inner-top {
    position: absolute;
    left: 0px;
    top: 0px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.inner-top.promopage {
    width: 100%;
}

.inner-bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.column-two-thirds {
    width: 66.666%;
    padding: 30px;
    float: left;
    background-color: #fff;
}

.column-two-thirds.ohpromo {
    padding-right: 60px;
}

.column-one-third {
    display: inline-block;
    width: 33.333%;
    float: left;
}
   

@media screen and (max-width: 991px) {
    h1 {
    font-size: 40px;
    line-height: 46px;
    }

    h2 {
    font-size: 28px;
    line-height: 34px;
    }

    h4 {
    font-size: 16px;
    line-height: 22px;
    }

    .box-one-third {
    width: 50%;
    padding-bottom: 50%;
    }

    .box-two-thirds {
    width: 100%;
    padding-bottom: 50%;
    }

    .column-two-thirds {
    width: 100%;
    }

    .column-one-third {
    width: 100%;
    }
}
   
@media screen and (max-width: 767px) {
h1 {
    font-size: 32px;
    line-height: 38px;
    }

    h2 {
    font-size: 26px;
    line-height: 31px;
    }

    h4 {
    font-size: 15px;
    line-height: 21px;
    }

    p {
    font-size: 15px;
    line-height: 21px;
    }

    .white._20px {
    margin-bottom: 10px;
    }

    .box-one-third {
    width: 100%;
    padding-bottom: 100%;
    }

    .box-one-third.block-color {
    height: auto;
    padding-bottom: 0%;
    }

    .box-two-thirds {
    padding-bottom: 100%;
    }

    .inner-top {
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    }

    .inner-bottom {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: auto;
    padding: 15px 15px 0px;
    }

    .inner-bottom.page-top {
    left: 0px;
    top: auto;
    right: auto;
    bottom: 0px;
    padding-bottom: 15px;
    }
}

@media screen and (max-width: 479px) {
    h2 {
    font-size: 24px;
    line-height: 28px;
    }
}
